.navbar-dark{
    background-color: #648CCC;
}

.navbar-dark .navbar-toggler{ 
    color:black;
    border-color: rgb(99, 85, 150);
}

.nav li.dropdown.show ul.dropdown-menu {
    background-color: #3c6bb6;
}

.nav li :hover {
    background-color: #648CCC;
}

.footer {
    background: #648CCC;
}

#login-div form{
    width: 30%;
    margin: 30px 35%;
}

#loginHeader {
    float: right;
    color: #fff;
    }

#loginHeader p{
    font-size: 18px;
    }

